.aboss-events-widget-wide table td, .aboss-events-widget-small table td{
  border: none;
}

.aboss-events-widget-wide table, .aboss-events-widget-small table {
  border: none;
  border-collapse: collapse;
  margin: 0!important;
}

.aboss-events-widget-wide table td:first-child {
  padding-left: 0;
}